/* Loader.css */
.loader {
    border: 8px solid #f3f3f3; /* Colore di sfondo della rotellina */
    border-top: 8px solid #3498db; /* Colore azzurro per la rotazione */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Imposta l'altezza del contenitore al 100% della viewport */
}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  