*{
    --glow-color: rgb(0, 51, 102); /* Blu acceso */
    --glow-spread-color: rgba(0, 77, 153, 0.781); /* Blu intenso */
    --enhanced-glow-color: rgb(102, 153, 204); /* Blu pastello */
    --btn-color: rgb(0, 61, 122); /* Blu moderato */
    --border-color: rgb(121, 169, 236);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0%;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.sidebarOptions {
    list-style: none;
    padding: 0;
}

.sidebarOptions li {
    margin: 15px 0;
    cursor: pointer;
}

.weederButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.weederButton:hover {
    background-color: #218838;
}
.topbar {
       position: fixed; 
       top: 0; 
       left: 0;
       width: 100%; 
       background-color: transparent; 
       padding: 1em 0;
       display: flex;
       justify-content: center; 
       align-items: center; 
       z-index: 1000; 
       
   }
   
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Espande questa sezione per centrare la barra */
    gap: 1em;
    text-align: center;
    background-color: transparent;
    border: .05em solid var(--border-color);
    padding: 0.5em 3em;
    width: 50%;
    color: var(--enhanced-glow-color);
    font-size: 25px;
    font-weight: bold;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                    0 0 4em 1em var(--glow-spread-color),
                    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

   .button:hover {
       color: var(--border-color);
       background-color: var(--glow-color);
       box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 4em 2em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button:active {
       box-shadow: 0 0 0.6em .25em var(--glow-color),
                   0 0 2.5em 2em var(--glow-spread-color),
                   inset 0 0 .5em .25em var(--glow-color);
   }
   
.littlebutton{
    text-align: center;
    background-color: transparent;
    border: .05em solid var(--border-color);
    padding: 0.5em ;
    width: 3%;
    color: var(--enhanced-glow-color);
    font-size: 25px;
    font-weight: bold;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                    0 0 4em 1em var(--glow-spread-color),
                    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.littlebutton:hover{
    color: var(--border-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}

.littlebutton:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}