/* Topbar (barra in cima) */
*{
       --glow-color: rgb(255, 255, 153); /* Giallo chiaro */
       --glow-spread-color: rgba(255, 204, 0, 0.781); /* Giallo dorato */
       --enhanced-glow-color: rgb(255, 255, 204); /* Giallo pallido */
       --btn-color: rgb(204, 153, 0); /* Giallo senape */
   
   }
.topbar {
       position: fixed; /* Fissa la topbar in alto */
       top: 0; /* Posiziona in cima alla pagina */
       left: 0;
       width: 100%; /* La topbar occupa tutta la larghezza */
       background-color: transparent; /* Leggera trasparenza sullo sfondo */
       padding: 1em 0;
       display: flex;
       justify-content: center; /* Centra il contenuto orizzontalmente */
       align-items: center; /* Centra verticalmente */
       z-index: 1000; /* Assicurati che la topbar sia sopra gli altri contenuti */
   }
   
   /* Pulsante nella topbar */
   .button {
       background-color: transparent;
       border: .17em solid var(--glow-color);
       padding: 0.5em 3em;
       width: 50%;
       color: var(--glow-color);
       font-size: 25px;
       font-weight: bold;
       border-radius: 1em;
       outline: none;
       box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 4em 1em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);
       text-shadow: 0 0 .5em var(--glow-color);
       position: relative;
       transition: all 0.3s;
       cursor: pointer; /* Indica che è cliccabile */
   }
   
   .button:hover {
       color: var(--btn-color);
       background-color: var(--glow-color);
       box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 4em 2em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button:active {
       box-shadow: 0 0 0.6em .25em var(--glow-color),
                   0 0 2.5em 2em var(--glow-spread-color),
                   inset 0 0 .5em .25em var(--glow-color);
   }
   