/* page.module.css */

* {
  --glow-color: rgb(0, 51, 102); /* Blu acceso */
  --glow-spread-color: rgba(0, 77, 153, 0.781); /* Blu intenso */
  --enhanced-glow-color: rgb(102, 153, 204); /* Blu pastello */
  --btn-color: rgb(0, 61, 122); /* Blu moderato */
  --border-color: rgb(121, 169, 236);
}

.page {
  background: linear-gradient(180deg, #212A37, #182028, #0B1215);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Rende l'altezza della pagina pari alla viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 2px solid #79a9ec;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  background-color: #2169cd74;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}




/* .input {
  width: calc(100% - 20px); 
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #79a9ec;
  border-radius: 15px;
  background-color: rgb(46, 83, 162);
  color: #ffffff;
  display: block;
  font-size: 16px;
  box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color); 
  transition: box-shadow 0.3s ease-in-out;
}

.input::placeholder {
  color: #b599d4; 
}




.input:focus {
  outline: none; 
  box-shadow:   inset 0 0 .75em .25em var(--glow-color); 
} */

/* Stile per il bottone */
.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: .1em;
  /* margin-top: 10px; opzionale per distanziare il bottone */
}

.button {
  width: 50%;
  padding: 10px;
  background-color: #79a9ec; /* Colore in tema con la palette */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5c81b6;
}

.responseMessage {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff; /* Colore chiaro per migliorare la leggibilità */
  text-align: center;
}
.bottomContainer {
  display: flex;
  justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  width: 100%; /* Assicura che il contenitore occupi tutta la larghezza disponibile */
  padding-top: 2em;
}

.forgotPassword{
  display: flex; /* Attiva Flexbox */
  justify-content: left; /* Centra orizzontalmente */
  align-items: center;
  margin-left: 0;
}

.newAcc {
  display: flex; /* Attiva Flexbox */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  width: 50;
  /* width: 100vw; Larghezza piena della finestra
  height: 100vh; Altezza piena della finestra */
}

a {
  margin-left: 0%;
  font-size: 1em; /* Dimensione del testo */
  color: var(--border-color); /* Usa un colore dalla tua palette */
  text-decoration: none; /* Rimuove la sottolineatura */
  transition: all 0.3s;
}
a:hover{
  text-shadow: 0 0 .5em var(--border-color);
  
}